.homeContainer {
  position: relative;
  background: url("https://static.wixstatic.com/media/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg/v1/fill/w_1812,h_420,al_c,q_85,enc_auto/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.jpg")
    center/cover;
  height: 352px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5rem;
}

.homePWrapper {
  margin-top: 4.5rem;
  margin-left: 15.5rem;
}

.homeContainer p {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
}

@media (max-width: 1165px) {
  .homePWrapper {
    margin-left: 9rem;
  }
}

@media (max-width: 780px) {
  .homePWrapper {
    margin-top: 4.5rem;
    margin-left: 0;
  }
}
